body {
    margin: 0;
    padding: 2rem;
    font-family: "Arial", sans-serif;
    color: black;
    background-color: beige;

}


.introduction {
    letter-spacing: 2px;
}

#overview {
    font-size: 2rem;
    text-align: center;
    font-weight: 550;
}

.core {
    background-color: pink;
    color: black;
}
